.article-content-text a h3 {
//     background-size: 0% 100%;
//   // background-image: linear-gradient(to right, #ffe57b 50%, #fff 100%);
//     background-image: linear-gradient(0deg,#ffe57b 0,#ffe57b 61%,rgba(255,229,123,0) 0,rgba(255,229,123,0));
//     background-repeat: no-repeat;
//       transition: background-size .2s;
      background-image: linear-gradient(transparent calc(65% - 5px), #ffe57b 5px);
      background-size: 0;
      background-repeat: no-repeat;
      display: inline;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
}
.article-content-text a h3:hover{
    // width: 100%;
	// background-size: 100% 100%;
    text-decoration: unset !important;
    // color: var(--article-card-headline-hover-color);
    background-size: 100%;
    // text-decoration: underline !important;
    // color: #9b870c !important;
}

.article-content-text a p {
    background-image: linear-gradient(transparent calc(65% - 5px), #ffe57b 5px);
      background-size: 0;
      background-repeat: no-repeat;
      display: inline;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
}
.article-content-text a p:hover{
	background-size: 100%;
    text-decoration: unset !important;
    // text-decoration: underline !important;
    // color: #9b870c !important;
}

.divider{
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 18px;
    margin-bottom: 18px;
    margin-top: 18px;
}

.link{
    color: white;
    font-weight: 300;
    &:hover{
        color: white;
    }
}


ul.footer-links{
    font-family: "Roboto", sans-serif;
    list-style: none;
    padding: 0;
    li{
        margin-top: 10px;
        font-size: 18px;
        font-weight: 300;
    }
    li > a{
        color: white;
    }
    li > p:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.footer {
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;


    .footer-pc{
        display: flex;
        flex-direction: row;
        max-width: 1400px;
        margin-top: 100px;
        margin-bottom: 100px;
        &>div{
            flex-grow: 1;
            flex-basis: 0;
            padding: 0px 20px;
        }
        .footer-col1{
            img.logo{ 
                width: 80%; 
            }
            .footer-description{
                margin: 40px 0px !important;
            }
            .socials a{ text-decoration: none }
            .socials img{
                width: 50px;
                margin-right: 10px;
                &:hover{
                    filter: brightness(1.2)
                }
            }
        }
        .footer-col2{
            .footer-email{
                width: 100%;
                position: relative;
                input{
                    outline: none;
                    border: none;
                    width: 80%;
                    height: 46px;
                    background: #515151;
                    padding: 0px 20px;
                    color: white;
                }
                button{
                    outline: none;
                    border: none;
                    width: 20%;
                    height: 46px;
                    background: #676767;
                    img{
                        height: 20px;
                    }
                }
            }
        }
        .footer-col3{
            .post-of-the-day{
                cursor: pointer;
                width: 100%;
                height: 250px;
                overflow: hidden;
                img { width: 100%; height: 100%; object-fit: cover;}
            }
        }
    }

    .footer-mobile{
        flex-grow: 1;
        padding: 40px 35px;
        .footer-mobile-email{
            width: 100%;
            position: relative;
            input{
                outline: none;
                border: none;
                width: 70%;
                height: 46px;
                background: none;
                padding: 0px 20px;
                color: white;
                border: 1px solid #00C8BA;
                border-right: none
            }
            button{
                border: 1px solid #00C8BA;
                color: #00c8ba;
                border-left: none;
                outline: none;
                width: 30%;
                height: 46px;
                background: none;
                img{
                    height: 20px;
                }
            }
        }
    }
}

.footer-copyright-pc, .footer-copyright-mobile{

    padding: 40px;
    color: white; 
    font-size: 12px;
    text-align: center;
    font-weight: 200;
}

.footer-copyright-pc{
    background: #323232;
}
.footer-copyright-mobile{
    background: black;
    border-top: 1px solid #929292;
}

@media screen and (max-width: 1100px){
    .footer-copyright-pc{ display: none !important}
    .footer-pc{ display: none !important }
    .footer-mobile{ display: block !important}
    .footer-copyright-mobile{ display: block !important }
}
@media screen and (min-width: 1100px){
    .footer-copyright-pc{ display: block !important}
    .footer-pc{ display: flex !important }
    .footer-mobile{ display: none !important}
    .footer-copyright-mobile{ display: none !important }
}

.about-company-container {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .copyright {
        p {
            border: none !important
        }
    }

    .navbar-brand {
        img {
            width: 150px;
        }
    }
}

.links h4, .links h3, .links h2  {
    font-size: 20px;
}

.disclaimer {
    background: #ffffff;
    border-radius: 30px;
    min-height: 200px;
    margin-top: 50px;
    position: fixed;
    z-index: 9;
    left: 80px;
    right: 80px;
    text-align: center;
    padding: 20px 40px;
    top: 0;
    color: #000000 !important;
    box-shadow: 1px 1px 5px 2px #888888;
}

.disclaimer p.d-head {
    font-family: Sofia Pro Bold;
    font-size: 30px;
}

.disclaimer p.text-left.mt-5 {
    overflow-y: scroll;
    max-height: 500px;
}

.d-cross {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 44px;
    cursor: pointer;
}

.d-cross i {
    font-size: 25px;
    /* line-height: 27px; */
}

.link-headings {
    font-weight: 800 !important;
    letter-spacing: 1px;
    font-size: 13px !important;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .about-company{order:4}.disclaimer{position:fixed;top:0;margin:0;left:0;right:0;border-radius:0;max-height:70vh;overflow:auto}.disclaimer p.d-head{font-size:20px}.d-cross{line-height:1px;background:0 0;height:auto;width:auto;color:#000}.d-cross i{font-size:20px}.disclaimer h1,.disclaimer h2,.disclaimer h3,.disclaimer h4,.disclaimer h5,.disclaimer h6{font-size:150%;margin-top:25px!important;margin-bottom:10px!important}.disclaimer p.text-left.mt-5{height:auto;max-height:fit-content}.footer .links{margin-top:15px}.footer .links h4{margin-bottom:0}.footer{padding-top:10px!important;padding-bottom:15px!important}
}

.modal{
    position: absolute;
    display: block;
    bottom: 40px;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 4px;
  }

.modal-overlay {
    z-index: 100;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    background: rgba(0,0,0,0.5);
}

.terms-modal{
    @extend .modal;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .terms-modal-header{
        h1{
            font-size: 26px;
        }
        h1 .close-modal{
            float: right;
            cursor: pointer;
        }
    }
    background: white;
    .terms-text{
        font-size: 14px;
        overflow: scroll;
        overflow-x: hidden;
    }
}
.disclaimer-modal{
    @extend .terms-modal;
    height: 60vh;
}